*{
    color:white;
  }
  /* body{
   padding: 0 0;
  } */
   section{
       
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.467);
       }
      .div1{
        background-color: rgba(65, 105, 225, 0.948);
        width: 400px;
        height: 300px;
        border-radius: 30px;
        padding: 30px;
      }
     .div1 form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 10px;
     }
     
     form input{
        width: 80%;
        height: 30px;
        color: black;
     }
     form label{
        font-size: 20px;
     }
    
     form button{
        width: 120px;
        height: 40px;
        background-color: orange;
        border: none;
        font-size: 15px;
        border-radius: 15px;
     }
     form button:hover{
        transform: scale(1.05);
      
     }

     .results{
        display: none;
     }